<link rel="stylesheet" href="/components/banner/bannerSection.css">

<div class="container">
    <div class="row align-items-center"> 
        <div class="col-lg-5 col-md-12 col-sm-12"> 
            <h2 class="sec_titulo">
                We’re a lean creative agency that 
                uses design and code to solve problems.
            </h2>
        </div>

        <div class="linha"></div>

        <div class="col-lg-7 col-md-12 col-sm-12">
            <p class="sec_subtitulo m-0">
                Semper bibendum nisl, fermentum mi convallis. Sed vitae tincidunt nunc, 
                aliquam orci. Porttitor faucibus morbi sed senectus justo, adipiscing augue. 
                Est, in in pretium at libero morbi. Euismod viverra arcu nisi eu sit. 
                Praesent diam non imperdiet imperdiet potenti tristique et. Amet nec.
            </p>
        </div>
    </div>
</div>
