<link rel="stylesheet" href="/components/blogcard/blogcard.css">

<div class="container">
    <div class="mb-5">
        <h2 class="sec_titulo fw-bold text-center">Blogs</h2>
        <p class="sec_subtitulo text-center">Ut condimentum volutpat, eget mauris senectus.</p>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 mb-3">
            <div class="card_cereja">
                <img src="assets/blog.jpg" class="card-img-top" alt="...">
                <div class="card-conteudo">
                    <h5 class="card-titulo">Porttitor pharetra, consectetur viverra est nisl a, vulputate id...
                    </h5>
                    <p class="sec_subtitulo">Dui massa sapien ornare leo. Sagittis, sollicitudin sed integer maecenas sit. Nibh suspendisse lectus hendrerit pretium...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span>13 Sept, 2021</span>
                        <span>Technology</span>
                    </div> 
                </div>
            </div>
            <div class="row"></div>
            <div class="card-blog-pagina-blog">
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <h4 class="shortcut">Shortcut Links</h4>
                <div class="row mb-3">
                    <div class="col-md-12">
                         <div class="shortcut-links mb-3">
                         </div>
                        <div class="row mb-3">
                            <div class="titulo_video">
                            <h4>Featured Video</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12"> 
                                     <div class="card_video">
                                        <img src="assets/video.jpg" alt>
                                        <div class="video_icone">
                                            <i class="fa-solid fa-play"></i>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
