<link rel="stylesheet" href="/components/team/team.css">

<div class="container"> 
    <div class="row">
        <div class="mb-3">
            <h1 class="sec_titulo text-center">Our Leadership Team </h1>
            <p class="sec_subtitulo text-center">Interdum ac tincidunt molestie facilisis. Nulla at erat odio bibendum diam quam. 
            Scelerisque mus vel egestas justo, purus consequat nibh eget. Non risus feugiat porta integer. </p>
        </div>

        <div class="team">

        </div>
</div>
