.our_team {
    padding: 50px 0;
    background-color: #f8f6f6;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 70px;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

.novoIntegrante {
    padding: 0px;
    text-align: center;
}

.novoIntegrante h4 {
    font-size: 19px;
    color: #000;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 500;
}

.novoIntegrante p {
    color: #797979;
    margin-top: 0;
    font-size: 15px;
}

.novoIntegrante img {
    width: 150px;
    height: 150px;
    border-radius: 500px;
}


@media (max-width: 1300px) {
    .team {
        grid-template-columns: repeat(2, 1fr) !important; 
        gap: 40px;
    }
}

@media (max-width: 992px) {
    .team {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 576px) {
    .team {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media (max-width: 992px) {
    .team {
        gap: 30px;
    }

    .novoIntegrante h4 {
        font-size: 18px;
    }

    .novoIntegrante p {
        font-size: 14px;
    }

    .novoIntegrante img {
        width: 130px;
        height: 130px;
    }

    .banner_global {
        display: none;
    }

}

@media (max-width: 768px) {
    .team {
        grid-template-columns: 1fr !important;
        gap: 30px;
    }

    .novoIntegrante h4 {
        font-size: 17px;
    }

    .novoIntegrante p {
        font-size: 13px;
    }

    .novoIntegrante img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 600px) {
    .novoIntegrante h4 {
        font-size: 16px;
    }

    .novoIntegrante p {
        font-size: 12px;
    }

    .novoIntegrante img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .team {
        gap: 20px;
    }
}


