<link rel="stylesheet" href="/components/sidebar/sidebar.css">

<aside class="sidebar ">
    <div class="close_icon">
        <i class="fa-solid fa-xmark"></i>
    </div>

    <ul class="mb-3">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="service.html">Service</a></li>
        <li><a href="blog.html">Blogs</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li class="itens-navbar-dropdown">
            <a class="itens-navbar dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Other Pages
            </a>
            <ul class="dropdown-menu_dois" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-nome" href="#">Single Blog</a></li>
                <li> <a class="dropdown-nome" href="#">404</a></li>
            </ul>
        </li>
</ul>
    
    <h5 class="mb4"> Follow us on </h5>
    <div class="redes_sociais">
        <a href="#" class="icone_rede_social"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="icone_rede_social"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="icone_rede_social"><i class="fa-brands fa-tiktok"></i></a>
        <a href="#" class="icone_rede_social"><i class="fa-brands fa-discord"></i></a>
    </div>
</aside>

<div class="transicao-azul" id="transicao"></div>





