.sidebar.active {
    left: 0;
}

.sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 35%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 100px 10px rgba(148, 148, 148, 0.2745098039);
    padding: 4rem 25px;
    transition: all 2s cubic-bezier(0.42, 0, 0.16, 1.01);
    overflow-y: scroll;
}

.sidebar .close_icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px 20px rgba(205, 205, 205, 0.5s);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar .close_icon:hover {
    background-color: #6854fc;
}

.sidebar .close_icon:hover i {
    color: #fff;
    font-size: 28px;
}

.sidebar .close_icon i {
    transition: all 0.3s linear;
    color: #000;
    font-size: 18px;
}

.sidebar ul li {
    list-style: none;
    line-height: 3.2rem;
}

.sidebar ul li a {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    transition: all 0.2s linear;
    text-decoration: none;
}

.sidebar .itens-navbar {
    margin-left: -2px;
}

.sidebar .dropdown-menu_dois {
    background-color: #fff;
    box-shadow: 0 0 10px #cdcdcd;
    border-radius: 10px;
    display: none;
    padding: 20px;
    transition: all 0.4s linear;
    overflow: hidden;
    max-height: 0;
    width: 180px;
    margin-left: 10px;

}

.sidebar .dropdown-menu_dois a {
    font-size: 16px !important;
}

.sidebar .itens-navbar-dropdown:hover .dropdown-menu_dois {
    display: block;
}

.sidebar .itens-navbar-dropdown:hover .dropdown-menu_dois {
    display: block;
    max-height: 200px; 
}

.sidebar ul li a:hover {
    color: rgba(104, 84, 252);
    letter-spacing: 2px;
}

.sidebar .redes_sociais {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.sidebar .redes_sociais .icone_rede_social i {
    font-size: 25px;
    color: #6854fc;
    transition: all 0.3s linear;
}

.sidebar .redes_sociais .icone_rede_social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: rgba(104, 84, 252, 0.3019607843);
    box-shadow: 0 0 10px #cdcdcd;
    border-radius: 5px;
    transition: all 0.3s linear;
    text-decoration: none;
}

.sidebar .redes_sociais .icone_rede_social:hover {
    background-color: #6854fc;
    box-shadow: 0 0 10px #6854fc;
}

.sidebar .redes_sociais .icone_rede_social:hover i {
    color: #fff;
}

.bar_icon .close-icon {
    display: none;
    cursor: pointer;
}

.transicao-azul.active {
    left: 0;
}

.transicao-azul {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 97, 151, 0.7882352941);
    transition: all 0.8s ease-out;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .sidebar {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 90%;
        padding: 3rem 15px;
    }

    .sidebar ul li a {
        font-size: 24px;
    }

    .sidebar .redes_sociais .icone_rede_social {
        width: 50px;
        height: 50px;
    }

    .sidebar .redes_sociais .icone_rede_social i {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
        padding: 2rem 10px;
    }

    .sidebar ul li a {
        font-size: 20px;
    }

    .sidebar .close_icon {
        width: 40px;
    }

}