* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    padding: 0 !important;
    margin: 0;
}

.container {
    padding: 25px;
    margin: 0px 190.5px 0 0 ;
    font-size: 16px; 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 25px;
    margin-right: 80px; /* Diminui o espaço entre logo e menu */

}

nav .container ul li {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    text-align: center !important;

}

.nav-link {
    color: #0a0a0a;
    padding: 0px 0px 0px 15px !important;    

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


strong {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

nav .container .navbar-brand {
    font-size: 24px;
    color: #000;
    font-weight: 900;
}

nav .container .navbar-brand span {
    color: #ffe600;
    margin: 0;
    padding: 0;
}

.btn  {
    background-color: #6854fc !important;
    border: 1px solid #6854fc !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 16px !important;
    padding: 6px 12px;
    font-weight: 600 !important;
    
}

.btn:hover {
    background-color: #fff !important;
    color: #6854fc !important;
    border: 1px solid #6854fc !important;


}

#navbarNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;

}

#bar_icon {
    padding: 0 0 0 16px !important;
        
}

.fa-solid {
    font-weight: 900 !important;
}

nav .container i {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    position: relative;
    padding: 50px 0;
}

.hero .feature-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    transform: translate(10px, 10px);
    width: 50px;
    height: 50px;
    background-color: #ffe600;
    border-radius: 50%;
}

.texto_digital {
    font-size: 18px;
    padding: 0 0 0 50px;
    display: block;
    color: #212529;    
}
.hero h1 {
    font-size: 60px;
    font-weight: 700;
    color: #000;
    width: 65%;
    line-height: 1.2;
    margin-top: 0;
    font-family: inherit;
}

.hero p {
    margin-bottom: 2rem !important;
    margin-top: 1rem !important;
    max-width: 510px;
    background-color: #00000000 !important;

}

.hero .sp_link {
    font-size: 20px;
    color: #6854fc !important;
    font-weight: 600;
    transition: all 0.3s linear;
    background-color: #00000000 !important;
    text-decoration: none !important;
    background-color: transparent;
    margin-right: 20px;

}

.hero .sp_link:hover {
    color: #ffe600 !important;
    letter-spacing: 1px;
}

.blue_rectangle {
    background-color: #aee2ff;
    width: 100%;
    height: 65px;
    margin: 30px 0;
}

.sec_title {
    font-size: 40px;
    color: #000;
    font-weight: 600;
    margin: 0 0 0 8px;
}

.sec_subtitle {
    font-size: 18px;
    color: #797979;
    margin: 5px 0 0 18px;
}

.services {
    padding: 50px 0 0 0;
}

.card {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; 
    gap: 50px; 
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 900px;
    justify-items: center !important;
    align-items: center !important;
    margin-left: 90px !important;
  }
  
  .novoCard {
    border: 1px solid #ddd; 
    padding: 10px;
    text-align: center;

    h5 {
        font-size: 20px;
        margin: 0 0 12px;
        color: #6854fc !important;
        font-weight: 800;
    }

    p {
        font-size: 16px;
        color: #212529 !important;
    }
  }
  
  .img-fluid {
    width: 100%; 
    height: auto;
  }
  
  @media (max-width: 1300px) {
    .card {
        width: 90%; /* Ajusta a largura da card para 90% em telas médias */
        margin-left: 0 !important; /* Remove o deslocamento à esquerda em telas menores */
    }
}

@media (max-width: 768px) {
    .card {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
        padding: 10px; /* Menos padding em telas pequenas para otimizar espaço */
    }

    .novoCard {
        padding: 5px; /* Menos padding nos itens da card para economizar espaço */
    }
}

.companies {
    padding: 50px 0 0 0;
}

.companies .companies_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}