<link rel="stylesheet" href="/components/navbar/navbar.css">

<nav class="navbar navbar-expand-lg navbar bg-light">
<div class="container">
    <div class="logo-navbar">
    <strong>
        <span>Ace</span>Studio
    </strong>
    </div>
    <div class="collapse navbar-collapse " id="todos-itens-navbar">
        <ul class="navbar-nav mx-auto mr-auto">
            <li class="itens-navbar">
                <a class="itens-navbar-nome" href="index.html">Home</a>
            </li>
            <li class="itens-navbar">
                <a class="itens-navbar-nome" href="about.html">About Us</a>
            </li>
            <li class="itens-navbar">
                <a class="itens-navbar-nome" href="contact.html">Contact Us</a>
            </li>
            <li class="itens-navbar">
                <a class="itens-navbar-nome" href="service.html">Service</a>
            </li>
            <li class="itens-navbar">
                <a class="itens-navbar-nome" href="blog.html">Blogs</a>
            </li>
            <li class="itens-navbar">
                <a class="itens-navbar-nome" href="#">Terms & Conditions</a>
            </li>
            <li class="itens-navbar-dropdown">
                <a class="itens-navbar-nome dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Other Pages
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-nome" href="#">Single Blog</a></li>
                    <li> <a class="dropdown-nome" href="#">404</a></li>
                </ul>
            </li>
        </ul>
        <div class="botao-icon">
            <button class="btn botao_navbar">connect with us</button>

            <div onclick="abrirSidebar()" class="navbar_icon pl3" id="navbar_icon">
                <i class="fa-solid fa-bars-staggered fa-lg open-icon"></i>
                <i class="fa-solid fa-xmark fa-lg close-icon" style="display: none;"></i>
            </div>
        </div>    
    </div>
</div>
</nav>

