<link rel="stylesheet" href="/components/joinglobal/bannerGlobal.css">
<div class="banner_global">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 pl-5 mb-3">
                <h2 class="sec_titulo">Join a global team of change-makers</h2>
                <p class="sec_subtitulo"> 
                    Viverra ut potenti aliquam feugiat dui imperdiet laoreet tempus sed. 
                    Elit cursus est lorem in est id nec. Quis diam posuere at nisl eget turpis sagittis nunc. 
                    Aliquet et ultrices purus, id. Sagittis erat nunc in parturient.
                </p>
                <button class="btn view_job">View Job Openings</button>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <figure class="m-0 imagem_global_team">
                    <img src="assets/offer_banner.jpg" alt="global team">
                </figure>
            </div>
        </div>
    </div>
</div>
