.banner_global {
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.096);
    padding: 50px  0;
}

.banner_global .container {
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.banner_global .container img {
    border-radius: 20px;
    width: 110% !important;
    height: 110% !important;
}

.banner_global h2 {
    font-weight: bolder;
    font-size: 40px;
    align-items: center;
}

.banner_global p {
    font-weight: 500;
    align-items: center;
    padding: 10px;
    margin-left: -8px;
}

.banner_global .btn {
    display: inline-block;
    margin: 10px 0 0 0;
}
