<link rel="stylesheet" href="/components/hero/heroSection.css">
<link rel="stylesheet" href="/components/hero/iconesFlutuando.css">

    <img class="position-absolute icon-1" src="assets/plus_ellipse.jpg" alt="">
    <img class="position-absolute icon-2" src="assets/plus_ellipse.jpg" alt="">
    <img class="position-absolute icon-3" src="assets/circle_ellipse.jpg" alt="">
    <img class="position-absolute icon-4" src="assets/circle_ellipse.jpg" alt="">
    <img class="position-absolute icon-5" src="assets/circle_ellipse.jpg" alt="">
    <img class="position-absolute icon-6" src="assets/circle_ellipse.jpg" alt="">
    <img class="position-absolute icon-7" src="assets/plus_ellipse.jpg" alt="">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                <div class="div_redonda mb-3">
                    <p class="m-0 texto_digital_company"> #1 Digital company in the town!</p>
                </div>
                <h1 class="mb-3">Amet sed cursus eu tellus eget</h1>
                <p class="mb-3">Vitae augue elementum ullamcorper porta adipiscing dui, consequat enim quam. Nisi rhoncus vitae orci duis diam eget faucibus. Nulla enim sit nibh sed.
                </p>

                <div class="d-flex align-items-center gap-10">
                <button class="btn connect_us">connect with us</button>
                <a href="#" class="text-dark pl-4 botao_browse_our_works">Browse our works</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 col-sm-12 d-flex align-items-center justify-content-end">
                <figue class="hero_imagem">
                    <img src="assets/hero_image.jpg" alt="hero imagem">
                </figue>
