.hero .icon-1 {
    left: 30px;
    top: 50px;
    width: 25px;
    animation: 4s ease 0s infinite alternate none running swim;
}

.hero .icon-2 {
    right: 120px;
    top: 50px;
    width: 14px;
    animation: 4s ease 0s infinite alternate-reverse none running swim;
}

.hero .icon-3 {
    left: 30px;
    top: 220px;
    width: 15px;
    animation: 3s ease 0s infinite alternate none running swim;
}

.hero .icon-4 {
    right: 57%;
    top: 94%;
    width: 30px;
    animation: 3s ease 0s infinite alternate-reverse none running swim;
}

.hero .icon-5 {
    right: 17%;
    top: 94%;
    width: 20px;
    animation: 3s ease 0s infinite normal backwards running swim;
}

.hero .icon-6 {
    right: 17%;
    top: 94%;
    width: 20px;
    animation: 3s ease 0s infinite reverse none running swim;
}

.hero .icon-7 {
    top: 5%;
    width: 19px;
    right: 39%;
    animation: 3s ease 0s infinite normal backwards running swim;
}


@keyframes swim {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-10px) rotate(5deg); 
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}
