<link rel="stylesheet" href="/components/clientes/clientsSection.css">

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <figure class="clientes_imagem">
                <img src="assets/clients_reviews.jpg" alt="">
            </figure>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 position-relative overflow-hidden">
            <h2 class="sec_titulo">Meet Client Satisfaction after working with us</h2>
            <p class="text-dark">
                Doesn’t feel like an agency
            </p>
            <div class="d-flex gap-10 mb-3" id="estrelas">
            </div>

                <!-- Carrossel -->
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p class="texto_do_carrossel">
                            Ultricies amet vulputate nulla in elit elit orci vitae tortor. Nunc ut pretium
                            lectus aliquet varius pretium. Nec convallis morbi sapien aliquet augue. Nulla nulla integer pellentesque neque cum amet,
                            turpis lacus, massa. Eu velit nunc adipiscing tincidunt blandi.
                        </p>
                        <div class="perfil">
                            <img src="assets/clt-1.jpg" alt="Gwen Stacy" class="perfil-foto">
                            <div>
                                <p class="m-0">Gwen Stacy</p>
                                <p class="m-0">Cloudexter</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <p class="texto_do_carrossel">
                            Ultricies amet vulputate nulla in elit elit orci vitae tortor. Nunc ut pretium
                            lectus aliquet varius pretium. Nec convallis morbi sapien aliquet augue. Nulla nulla integer pellentesque neque cum amet,
                            turpis lacus, massa. Eu velit nunc adipiscing tincidunt blandi.
                        </p>
                        <div class="perfil">
                            <img class="perfil-foto" src="assets/clt-1.jpg" alt="Gwen Stacy" class="profile-pic">
                            <div>
                                <p class="m-0">Gwen Stacy</p>
                                <p class="m-0">Cloudexter</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <!-- Botão de navegação do carrrossel -->
                <div class="swiper swiper-button">
                    <button onclick="trocaSlideCarrossel()" class="btn btn-prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button onclick="trocaSlideCarrossel()" class="btn btn-next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>

                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>
</div>