    <link rel="stylesheet" href="/components/footer/footer.css">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-4">
                <a href="#" class="logo">Ace <span class="fw-bold">Studio</span></a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-4">
                <div class="links_paginas mx-auto">
                    <a href="#" class="nav-item text-white pr-2">Home</a>
                    <a href="#" class="nav-item text-white pr-2">Services</a>
                    <a href="#" class="nav-item text-white pr-2">Contact Us</a>
                    <a href="#" class="nav-item text-white pr-2">Careers</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-4">
                <div class="social_links d-flex align-items-center justify-content-center">
                    <a href="#" class="text-white social_item"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="text-white social_item"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="text-white social_item"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="text-white social_item"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
            <div class="copyright"> Copyright © 2024 Designed and Developed by AchrafThemes.
            </div>
        </div>
    </div>
          

