/* CSS Original (mantenha este bloco) */
.services {
    padding: 50px 0 0 0;
}

.card {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 50px;
    width: 900px;
    justify-items: center !important;
    align-items: center !important;
    margin-left: 90px !important;
    border: 0px !important;
    margin-top: 30px;
}

.novoCard {
    padding: 10px;
    text-align: center;
}

.novoCard h5 {
    font-size: 20px;
    margin: 0 0 12px;
    color: #6854fc !important;
    font-weight: 800;
}

.novoCard p {
    font-size: 16px;
    color: #212529 !important;
}

.novoCard img {
    width: 80px;
    height: 80px;
}


@media screen and (max-width: 1200px) {
    .card {
        width: 800px;
    }
    
}


@media (max-width: 980px) {
    .card {
        width: 95%; 
        margin-left: auto !important; 
        margin-right: auto !important; 
    }
}


@media (max-width: 767px) {
    .card {
        grid-template-columns: 1fr !important;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .card {
        gap: 20px; 
    }

    .novoCard h5 {
        font-size: 18px; 
    }

    .novoCard p {
        font-size: 14px;
    }

    .novoCard img {
        width: 60px; 
        height: 60px;
    }
}