<link rel="stylesheet" href="/components/about/aboutSection.css">

<div class="container">
    <div class="row align-items-center">
        
        <div class="col-lg-5 col-md-12 col-sm-12">
            <figure class="about_imagem">
                <img src="assets/about.jpg" alt="About us imagem">
            </figure>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12">
            <h2 class="sec_titulo">
                Designed and built by an astonishing creative team.
            </h2>
            <p class="sec_subtitulo">
                Et eleifend consectetur tellus consectetur nibh non urna lobortis. 
                Quis sapien enim posuere mollis risus. Nec dictumst ullamcorper et leo. 
                Varius praesent tinc.
            </p>
            <button class="btn">About us</button>
        </div>
        
    </div>
</div>
