<link rel="stylesheet" href="components/processos/processSection.css">

<div class="container">
    <div class="row"> 
        <div class="col-lg-5 col-md-12 col-sm-12">
            <figure class="imagem">
                <img src="assets/process.jpg" alt="process">
            </figure>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="mb-4">
                <h2 class="sec_titulo">Our Process</h2>
                <p class="sec_subtitulo">
                    Sit arcu, egestas nunc, eros dignissim nunc, pretium malesuada. Tristique est tellus non maecenas in egestas aliquam. 
                    Eget dolor pellentesque consequat donec lectus nisl ligula. Ut sed nisi amet.
                </p>
            </div>
            <ul class="lista_processos">
                <li class="lista_item">
                    <img class="lista_processos" src="assets/fea_process_1.jpg" alt>
                    <p>
                    <strong>Discovery</strong>
                     Velit lacus ipsum, urna, pretium lacinia. 
                     Mauris fermentum ut nunc est, nibh. Lectus eu vel et placerat sed velit morbi diam. Amet malesuada eget aliquam imperdiet. Arcu dolor sed pretiu
                    </p>
                </li>
                <li class="lista_item">
                    <img class="lista_processos" src="assets/fea_process_2.jpg" alt>
                    <p>
                    <strong>Plan</strong>
                    Tellus, lacus, sem adipiscing ac sem amet. Vitae proin volutpat cras tempus vitae. Ipsum consectetur quis diam 
                    hendrerit pharetra amet scelerisque. Elementum risus aliquam quam etiam. Eget eu risus dui lacus, orci. Cras ultricies posuere adipiscing faucibu.                            
                    </p>
                </li>
                <li>
                    <img class="lista_processos" src="assets/fea_process_4.jpg" alt>
                    <p>
                    <strong>Execute</strong>
                    Congue ridiculus at tortor mattis turpis bibendum at pulvinar viverra. 
                    Ultrices morbi amet quam nisl risus libero, sodales nibh faucibus. Sed gravida elementum auctor fermentum id sem                            
                    </p>
                </li>
                <li>
                    <img class="lista_processos" src="assets/fea_process_5.jpg" alt>
                    <p>
                    <strong>Deliver</strong>
                    Pellentesque id pharetra, semper neque purus. Ante lacinia in ut sagittis sed sapien. In facilisi in a diam. 
                    Pellentesque arcu faucibus vel ornare pulvinar sollicitudin eu. Tempus nisi malesuada convallis velit viverra odio. Senectus consectetur fames in sed velit, ornare. Sed arcu.                          
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
